.Rproj.user
.Rhistory
.RData
.Ruserdata

code/.ipynb_checkpoints/
code/__pycache__/
code/ADF/.ipynb_checkpoints/
code/ADF/__pycache__/
code/DL/.ipynb_checkpoints/
code/DL/__pycache__/
code/MODFLOW/.ipynb_checkpoints/
code/MODFLOW/__pycache__/

data/attributes/
data/climatepy/
data/spatial/

models/

ku_crc_hpc/

